html,
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.section {
  padding: 20px 16px;
}

.section__title {
  color: #333;
  font-size: 26px;
  margin-bottom: 24px;
}

.section__sub-title {
  color: #666;
  font-size: 22px;
  margin-bottom: 16px;
  margin-top: 24px;
}

.section__paragraph {
  color: #666;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
  margin-top: 24px;
}

.section__faq {
  display: flex;
  flex-direction: column;
}

.section__faq
.faq__question {
  background-color: #ccc;
  font-weight: bold;
  padding: 8px;
  line-height: 1.2;
}

.section__faq
.faq__answer {
  line-height: 1.4;
  background-color: #eaeaea;
  margin-bottom: 24px;
  padding: 8px 16px;
}

.header {
  background-color: #ccc;
  min-height: 200px;
}
