html,
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(0, 132, 255);
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.warning {
  color: #d43b00;
  text-transform: uppercase;
}

.info-text {
  color: #008cff;
  font-style: italic;
}

.info-text::before {
  content: "ⓘ";
  margin-right: 4px;
}

.info-box {
  background-color: #a6d3f7;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  font-style: italic;
  line-height: 1.6;
  margin: 8px 0;
  overflow: hidden;
  padding: 16px;
  position: relative;
}

.info-box::after {
  bottom: -70px;
  color: #f5f5f550;
  content: "ⓘ";
  font-size: 90px;
  font-weight: bold;
  position: absolute;
  right: 5%;
}

.warning-box {
  background-color: #ffb598;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  font-style: italic;
  line-height: 1.6;
  overflow: hidden;
  padding: 16px;
  position: relative;
}

.warning-box::after {
  bottom: -100px;
  color: #f5f5f550;
  content: "!";
  font-size: 200px;
  font-weight: bold;
  position: absolute;
  right: 5%;
}

.header {
  background-color: #8891ae;
  background-image: url("/images/banner.jpg");
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  position: relative;
}

@media screen and (max-width: 959px) {
  .header {
    background-image: url("/images/banner-m.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-image: url("/images/banner-1200.jpg");
  }
}

.header .header__fade {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  height: 120px;
  position: absolute;
  width: 100%;
}

.header .header__title {
  bottom: -12px;
  color: white;
  font-size: 48px;
  left: calc(50% - 600px);
  position: absolute;
}

@media screen and (max-width: 959px) {
  .header .header__title {
    bottom: -6px;
    left: 4px;
    font-size: 24px;
  }
}

.header .header__title .title__name {
  font-size: 72px;
  font-weight: bold;
}

@media screen and (max-width: 959px) {
  .header .header__title .title__name {
    font-size: 36px;
  }
}

.section {
  padding: 48px 0;
}

@media screen and (max-width: 959px) {
  .section {
    padding: 48px 0 0 0;
  }
}

.section.section--greeting {
  background-color: #e3e3e3;
  font-size: 24px;
  line-height: 1.4;
  padding: 32px 0;
}

.section.section--dark {
  background-color: #333;
  color: white;
}

.section.section--dark .section__title,
.section.section--dark .section__paragraph {
  color: #e3e3e3;
}

.section.section--no-padding-bottom {
  padding-bottom: 0;
}

.section.section--greeting .section__content {
  display: block;
}

@media screen and (max-width: 959px) {
  .section.section--greeting .section__content {
    font-size: 22px;
    padding: 0 16px;
  }
}

.section .section__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  max-width: 1200px;
}

.section .section__title {
  color: rgb(92, 87, 87);
  font-size: 32px;
}

@media screen and (max-width: 959px) {
  .section .section__title {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }
}

.section .section__sub-title {
  color: #666;
  font-size: 22px;
}

@media screen and (max-width: 959px) {
  .section .section__sub-title {
    text-align: center;
  }
}

.section .section__paragraph {
  color: #666;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
  margin-top: 16px;
}

@media screen and (max-width: 959px) {
  .section .section__paragraph {
    padding: 8px 16px;
  }
}

.section .section__faq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  justify-items: stretch;
}

@media screen and (max-width: 959px) {
  .section .section__faq {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.section .section__faq .faq__cell {
  background-color: #4e4e4e;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 959px) {
  .section .section__faq .faq__cell {
    border-radius: 0;
    box-shadow: none;
  }
}

.section .section__faq .faq__cell .cell__question {
  background-color: #d43b00;
  border-radius: 5px 5px 0 0;
  color: white;
  font-weight: bold;
  padding: 8px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 959px) {
  .section .section__faq .faq__cell .cell__question {
    border-radius: 0;
    padding: 16px;
  }
}

.section .section__faq .faq__cell .cell__answer {
  color: white;
  line-height: 1.6;
  padding: 32px;
}

@media screen and (max-width: 959px) {
  .section .section__faq .faq__cell .cell__answer {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    padding: 32px 16px;
  }
}

.news {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 32px;
}

@media screen and (max-width: 959px) {
  .news {
    grid-template-columns: 1fr;
    margin-top: 0;
    padding: 0 16px;
  }
}

.news .news__item {
  border-bottom: 3px solid #d43b00;
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 16px;
}

@media screen and (max-width: 959px) {
  .news .news__item {
    border-bottom: 3px dotted #d43b00;
  }
}

.news .news__item .item__date {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding-bottom: 16px;
}

.how-it-works {
  display: flex;
  gap: 64px;
  justify-content: space-between;
  margin-top: 32px;
}

@media screen and (max-width: 959px) {
  .how-it-works {
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }
}

.how-it-works .how-it-works__step {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  line-height: 1.6;
}

.how-it-works .how-it-works__step.how-it-works__step--active {
  background-color: #333;
  border: 1px dotted #333;
  border-radius: 15px 15px 0 0;
  color: white;
  padding: 32px 8px 32px 8px;
  text-align: center;
}

@media screen and (max-width: 959px) {
  .how-it-works .how-it-works__step.how-it-works__step--active {
    border-radius: 0;
  }
}

.how-it-works .how-it-works__step .step__image {
  border-radius: 100%;
}

.how-it-works .how-it-works__step .step__text {
  border-radius: 100%;
  margin-bottom: 32px;
}

@media screen and (max-width: 959px) {
  .how-it-works .how-it-works__step .step__text {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.how-it-works .how-it-works__step .step__num {
  color: #d43b00;
  font-size: 18px;
  font-weight: bold;
}

.rate {
  display: flex;
  gap: 64px;
  margin-top: 32px;
}

@media screen and (max-width: 959px) {
  .rate {
    flex-direction: column;
    gap: 16px;
    margin-top: 0;
    padding: 0 16px;
  }
}

.rate .rate__image {
  flex-basis: 300px;
}

.rate .rate__items {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.rate .rate__items.rate__items--reversed {
  order: -1;
}

.rate .rate__items .items__item {
  border: 1px solid #ccc;
  line-height: 1.4;
  margin-top: -1px;
  padding: 4px 8px;
}

@media screen and (max-width: 959px) {
  .rate .rate__items .items__item {
    font-size: 14px;
    line-height: 1.6;
    padding: 8px;
  }
}

.rate .rate__items .items__item {
  line-height: 1.4;
}

.rate .rate__items .items__item .item__price {
  color: #d43b00;
  font-weight: bold;
}

.rate .rate__items .items__description {
  color: #666;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
  margin-top: 16px;
}

.rate .rate__items .items__info {
  line-height: 1.6;
  padding: 16px 0;
}
